/* ჰედერი  */



/* პირველი სექცია world news  */

/* მეორე სექცია  trending  */

/* მესამე სექცია happening now  */


 /* ფუტერი  */
  footer{
    background-color: #A6ADB4;
    width: 100%;
    height:200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }  

  .nav-cont{
    display: flex;
    color: #CBD0D3;
  }
  .nav-cont h3{
    color: white;
  }

  nav{
    display: flex;
    margin-left: 2rem;
  }

  footer ul{
    margin-left: 2rem;
    color: #CBD0D3;
  }

  footer li{
    margin-bottom: 1rem;
  }

  .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    position: relative;
  }

  #send{
    position: absolute;
    right: 10px;
    top: 13px;
  }

  .input label{
    font-size: 11px;
    color: #CBD0D3;
    margin-top: 1rem;
  }

  #email{
    /* background-image: url('../Images/send.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right; */
    padding-right: 30px;
    background-color: transparent;
    border: 1px solid #CBD0D3;
    border-radius: 5px;
    height: 40px;
    width: 262px;
    color: #CBD0D3;
  }

  .link-cont{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
  }


  @media screen and (max-width: 870px){
    footer{
        display: block;
        padding-left: 4rem;
        padding-top: 3rem;
        height: 316px;
        position: relative;
    }
    .nav-cont{
        width: 100%;
        justify-content: space-between;
        padding-right: 6rem;
        
    }

    .link-cont{
        position: absolute;
        right: 6rem;
        bottom: -3rem;
    }

    .input{
        position: absolute;
        left: 2rem;
        bottom: -0.5rem;
    }

    #send{
        left: 14.5rem;
    }
  }